@import '../viewports';

.HeroPicker {
    font-size: 1rem;
    z-index: 30;
    position: fixed;
    bottom: 4vh;

    display: block;
    width: calc(100% - 8em);
    margin: 0 3em;

    border-top: 0.5px solid rgba(255,255,255,0.6);

    &::before {
        content: "";
        display: block;
        width: 25%;
        height: 4px;
        background: #fff;

        transition: transform 800ms ease-in-out 400ms;
    }

    @include mobile {
        bottom: 3em;
    }
}