.Header .Header-menu a {
    font-size: 1.75em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;

    padding: 0;
    color: #ffffff;
    text-shadow: rgba(0,0,0,0.65) 0px 2px 4px;
    position: relative;

    display: inline-block;

    margin: 0 1em;
    
    &::after {
        content: ' ';
        display: block;
        background-color: #fff;
        opacity: 0.75;
        height: 0.1em;
        width: 100%;
        position: relative;
        bottom: 0px;
        z-index: 21;

        box-shadow: rgba(0,0,0,0.65) 0px 2px 4px;

        transform: scaleX(0);
        transform-origin: 0 0;

        transition: transform 200ms ease-in-out;
    }

    &.is-active {
        &::after {
            transform: scaleX(1);
        }
    }
}

