.ArticleHero {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 96vh;

    overflow: hidden;

    h1 {
        position: absolute;
        top: 50%;
        left: 4%;

        color: #ffffff;
        text-shadow: rgba(0,0,0,0.65) 0px 2px 4px;
        
        font-size: 3em;
        letter-spacing: -1.2;
        z-index: 20;

        &::after {
            content: ' ';
            display: block;
            background-color: #ff0000;
            height: 0.1em;
            width: 100%;
            position: relative;
            bottom: 0px;
            z-index: 21;

            box-shadow: #rgba(0,0,0,0.65) 0px 2px 4px;

            transform: scaleX(0);
            transform-origin: 0 0;

            transition: transform 200ms ease-in-out;
        }
    }

    &-image {
        width: 100%;
        top: 0;

        animation-name: zoomIn;
        animation-duration: 7s;
        transform: scale(1.01);

        z-index: 10;

        transition:
            filter 400ms ease-in-out,
            transform 400ms ease-in-out;
    }

    &.is-active {
        .ArticleHero-image {
            transition:
                filter 1s ease-in-out,
                transform 5s ease-in-out;
            filter: blur(3px);
            transform: scale(1.05);
        }
        h1::after {
            transform: scaleX(1);
        }
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.01);
    }
}